
.dws {
    position: fixed;
    bottom: 10%;
    right: 4px;
    transform: translate(-50%, -50%);
}
.pulse, .bloc, .phone {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.bloc {
    cursor: pointer;
    z-index: 1111;
    overflow: hidden;
}
.pulse {
    background: #dabd75;
    position: relative;
    transition: .5s;
}
.phone {
    font-size: 23px;
    line-height: 54px;
    animation: phone .9s ease-in-out infinite;
}
.text {
    position: absolute;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 700;
    top: 12px;
    font-size: 12px;
    transform: scaleX(-1);
    transition: .5s ease-in-out;
    left: -8px;
}
.phone i {
    transition: .5s ease-in-out;
}
.pulse:hover {
    background: #dabd75;
}
.pulse:hover i {
    transition: .5s ease-in-out;
    transform: scale(0);
}
.pulse:hover .text {
    transform: scaleX(1);
    transition: .5s ease-in-out;
    opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
    content: '';
    position: absolute;
    border: 1px solid #dabd75;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 1.8s linear infinite;
    opacity: 0;
}
.pulse:hover::after {
    animation-delay: .5s;
}
@keyframes phone {
    0%, 100% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(21deg);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
.range-wrap {
    background: #ededed;
    margin: 20px 0;
    border: 8px solid #BFE2FF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.range-slider * {
    margin: 0;
    padding: 0;
    border: 0;
}
.range-slider,
.range-ticks,
.label-range{
    display: flex;
}
.range-slider {
    flex-flow: column nowrap;
    margin: 0 auto;
    box-sizing: border-box;
}
.rs-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f3a406;
    cursor: pointer;
}

.rs-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e29c11;
    cursor: pointer;
}
.rs-range:hover {
    opacity: 1;
}
.range-slider input[type=range],
.range {
    border-radius: 0.75em;
    position: relative;
    height: 1.0em;
}
.range-slider input[type="range"] {
    background-color: #dfc55f63;
    font: 1em/1.5 'Roboto Condensed', sans-serif;
    box-shadow: 0.3em 0.3em 0.4em #e7e9ec inset, -0.3em -0.3em 0.4em #dabd75 inset;
    display: block;
    padding: 0 0.1em;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.range-slider input[type=range]:focus {
    outline: transparent;
}
.range-ticks {
    font: 1em/1.5 'Roboto Condensed', sans-serif;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 0.04em;
    left: 0.75em;
    width: calc(100% - 1.5em);
    height: 100%;
}
.range-tick,
.range-tick-text {
    display: inline-block;
}
.range-tick {
    color: #454954;
    font-size: 0.5em;
    text-align: center;
    width: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.range-tick-text {
    transform: translateX(-50%);
}
.label-range {
    font: 0.8em/1.5 'Roboto Condensed', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.data-range {
    display: flex;
    height: 3em;
    width: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: bold 0.5em/1.5 'Roboto Condensed', sans-serif;
    color: #FFF;
    position: absolute;
    top: 0;
    z-index: 2;
    pointer-events: none;
    background-color: #337AB7;
    border: 0;
    border-radius: 50%;
    box-shadow: -0.3em -0.3em 0.5em #0d518c inset, 0 -0.2em 0.2em 0 rgba(0,0,0,0.2), 0.3em 0.5em 0.8em  rgba(0,0,0,0.3);
}

.bg-checkbox-wrap * {
    box-sizing: content-box;
}
.bg-checkbox-wrap {
    display: flex;
    justify-content: center;
}
#bg-checkbox {
    display: none;
}
#bg-checkbox-button {
    position: relative;
    display: block;
    width: 225px;
    height: 58px;
    background: rgba(240, 190, 93, 0.1);
    border-radius: 87px;
    cursor: pointer;
    transition: 0.4s ease background-color;
    border: 2px solid #DABD75;
}
#bg-checkbox-button #knob {
    width: 40px;
    height: 40px;
    background-image: url('public/images/bitcoin.png');
    background-size: 260px;
    position: relative;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    transition: 0.4s ease left, 0.4s ease background-position;
    z-index: 2;
    border: 2px solid #DABD75;
}
#bg-checkbox-button #not-ok,
#bg-checkbox-button #ok {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    margin-left: 71px;
    z-index: 1;
    transition: 0.4s ease opacity;
}
#bg-checkbox-button #ok {
    margin-left: 30px;
    opacity: 0;
}
#bg-checkbox:checked + #bg-checkbox-button #ok {
    opacity: 1;
}
#bg-checkbox:checked + #bg-checkbox-button #not-ok {
    opacity: 0;
}
#bg-checkbox:checked + #bg-checkbox-button #knob {
    left: 138px;
    background-position: -125px 0;
}
.radio-form .radio-control input:checked + .radio-input {
    border: 4px solid #337AB7;
}
.radio-form .radio-control input:checked + .radio-input:after,
.radio-form .radio-control input:checked + .radio-input i {
    color: #337AB7;
}
.radio-form {
    display: flex;
    justify-content: center;
}
.radio-form .radio-control {
    width: 100%;
    transition: all ease 250ms;
}
.radio-form .radio-control input {
    display: none;
}
.radio-form .radio-control .radio-input {
    background: rgba(240, 190, 93, 0.1);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    transition: all ease 250ms;
    border: 2px solid #DABD75;
}
.radio-form .radio-control:hover .radio-control input:checked {
    box-shadow: 14px 14px 69px -10px rgb(109 219 187);
}
.radio-form .radio-control .radio-input i {
    display: block;
    font-size: 70px;
    color: #BFE2FF;
    font-weight: bold;
}
.radio-form .radio-control .radio-input img {
    width: 70px;
}
.radio-form .radio-control .radio-input span {
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: #AAA;
}
.radio-form .radio-control input:checked + .radio-input span {
    color: #fff;
    opacity: 1;
    transition: opacity ease 250ms;
}
.radio-form .radio-control input:checked + .radio-input:after {
    top: 0;
    right: 20px;
    transform: translateY(-50%);
    animation-name: animation;
    animation-duration: 250ms;
    background-color: #FFF;
    font-size: 25px;
    display: block;
    position: absolute;
    border: 5px solid #FFF;
    padding-left: 2px;
    font-weight: bold;
}
.radio-form .radio-control input:checked + .radio-input {
    border: 4px solid #DCDDDC;;
}
.radio-form .radio-control input:checked + .radio-input:after,
.radio-form .radio-control input:checked + .radio-input i {
    color: #fff;
}
@keyframes animation {
    0% {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.3);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}
@media screen and (max-width: 768px) {
    .radio-form {
        display: block;
    }
    .radio-form .radio-control {
        width: 100%;
        margin-bottom: 14px;
    }
}
.calc-item-inp-block {
    height: 42px;
    width: 200px;
    position: relative;
    margin-bottom: 35px;
}
textarea, input[type="text"], input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}
.calc-item-inp {
    font-family: Play;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    height: 42px;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #DABD75;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    line-height: 36px;
    -webkit-appearance: none;

    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}
.calc-item-inp-text {
    font-family: Play;
    font-size: 24px;
    color: #FFF;
    position: absolute;
    top: 8px;
    right: 0px;
    font-weight: bold;
}
.calc-item-title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 10px;
}
.m-bg {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.calc-item-info {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.calc-item-info-block {
    width: 33.333%;
}
.calc-item-info-block-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 18px;
    margin-bottom: 8px;
}
.calc-item-info-block.green .calc-item-info-block-text {
    color: #4cee4c;
}
.calc-item-info-block-text {
    font-family: Play;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

 .mt-profit-calc-sec__first {
     border-radius: 5px 0 0 5px;
 }
@media (min-width: 1025px)
    .c-profit-calc {
        padding: 50px 45px;
    }
    .c-profit-calc {
        padding: 1px 15px 27px;
        background-color: #1b2336;
    }
    .c-profit-calc__controls {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        margin-top: -15px;
    }
    @media (min-width: 1200px)
        .c-profit-calc__control-group {
            padding-left: 12px;
            padding-right: 12px;
            flex: 0 0 25%;
            max-width: 25%;
            flex-direction: column;
        }
        .c-profit-calc__control-group {
            margin-top: 15px;
            display: flex;
            flex-grow: 1;
        }
        .c-profit-calc__control-btn.bronze {
            color: #dabd75!important;
            font-weight: bold;
        }
        @media (min-width: 1200px)
            .c-profit-calc__control-btn {
                margin-left: 0;
                margin-right: 0;
            }
            .c-profit-calc__control-btn {
                border: 5px solid #0f182b;
                border-radius: 3px;
                color: transparent;
                min-width: 0;
                width: 100%;
                padding: 1em .7em;
                height: 45px;
                background-color: initial;
                transition: .1s cubic-bezier(.91,.32,.32,.25);
                text-transform: none;
                margin-left: 10px;
                margin-right: 10px;
            }
            .btn__content {
                min-width: calc(102px - 2.26666em);
            }
            .btn__content {
                color: #fff;
            }
            .btn__content {
                position: relative;
                display: flex;
                flex: 1 0 auto;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                border-radius: inherit;
                height: 100%;
                white-space: nowrap;
                color: inherit;
            }
            .c-profit-calc__control-btn.gold {
                color: #dabd75!important;
            }
            .c-profit-calc__control-btn.platinum {
                color: #deddde;
            }
            .c-profit-calc__results-wrapper {
                margin-top: 23px;
                display: flex;
                flex-direction: column;
            }
            .c-profit-calc__results {
                display: flex;
                flex-wrap: wrap;
                margin-left: -8px;
                margin-right: -8px;
                margin-top: -10px;
            }
            @media (min-width: 1200px)
                .c-profit-calc__result--lg {
                    flex: 0 0 53%;
                    max-width: 53%;
                }
                @media (min-width: 1025px)
                    .c-profit-calc__result--lg {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    .c-profit-calc__result--lg {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    @media (min-width: 1025px)
                        .c-profit-calc__result {
                            text-align: left;
                        }
                        @media (min-width: 576px)
                            .c-profit-calc__result {
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                            @media (min-width: 768px)
                                .c-profit-calc-kv {
                                    padding: 11px 33px;
                                }
                                .c-profit-calc-kv {
                                    background: #272627;
                                    padding: 11px 15px;
                                    flex-grow: 1;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    border-radius: 3px;
                                }
                                .c-profit-calc-kv__v {
                                    font-size: 24px;
                                    line-height: 1.1667;
                                    font-weight: 700;
                                    color: #747474;
                                }
                                @media (min-width: 1025px)
                                    .c-profit-calc__result {
                                        text-align: left;
                                    }
                                    @media (min-width: 1025px)
                                        .c-profit-calc__result--group {
                                            flex: 1 0 auto;
                                            max-width: none;
                                            width: 47%;
                                        }
                                        @media (min-width: 1025px)
                                            .c-profit-calc__result {
                                                text-align: left;
                                            }
                                            @media (min-width: 576px)
                                                .c-profit-calc__result {
                                                    flex: 0 0 50%;
                                                    max-width: 50%;
                                                }
                                                .c-profit-calc__result {
                                                    padding-left: 8px;
                                                    padding-right: 8px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    flex: 0 0 100%;
                                                    max-width: 100%;
                                                    margin-top: 10px;
                                                    text-align: center;
                                                }
                                                @media (min-width: 768px)
                                                    .c-profit-calc-kv {
                                                        padding: 11px 33px;
                                                    }
                                                    .c-profit-calc-kv {
                                                        background: #272627;
                                                        padding: 11px 15px;
                                                        flex-grow: 1;
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        border-radius: 3px;
                                                    }
                                                    .c-profit-calc-kv__v {
                                                        font-size: 24px;
                                                        line-height: 1.1667;
                                                        font-weight: 700;
                                                        color: #747474;
                                                    }
                                                    .c-profit-calc-kv__k {
                                                        margin-top: 5px;
                                                        font-size: 14px;
                                                        line-height: 1.14285;
                                                    }
                                                    @media (min-width: 768px)
                                                        .c-profit-calc-kv {
                                                            padding: 11px 33px;
                                                        }
                                                        .c-profit-calc-kv {
                                                            background: #272627;
                                                            padding: 11px 15px;
                                                            flex-grow: 1;
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: center;
                                                            border-radius: 3px;
                                                        }
                                                        @media (min-width: 1025px)
                                                            .c-profit-calc__result--group>*+* {
                                                                margin-top: 10px;
                                                            }
                                                            .mt-3 {
                                                                margin-top: 15px!important;
                                                            }
                                                            .c-profit-calc__results {
                                                                display: flex;
                                                                flex-wrap: wrap;
                                                                margin-left: -8px;
                                                                margin-right: -8px;
                                                                margin-top: -10px;
                                                            }
                                                            @media (min-width: 768px)
                                                                .c-profit-calc__result--eq {
                                                                    flex: 0 0 50%;
                                                                    max-width: 50%;
                                                                }
                                                                .c-profit-calc__result {
                                                                    text-align: left;
                                                                }
                                                                @media (min-width: 576px)
                                                                    .c-profit-calc__result {
                                                                        flex: 0 0 50%;
                                                                        max-width: 50%;
                                                                    }
                                                                    .c-profit-calc__result {
                                                                        padding-left: 8px;
                                                                        padding-right: 8px;
                                                                        display: flex;
                                                                        flex-direction: column;
                                                                        flex: 0 0 100%;
                                                                        max-width: 100%;
                                                                        margin-top: 10px;
                                                                        text-align: center;
                                                                    }
                                                                    @media (min-width: 1025px)
                                                                        .c-profit-calc__result {
                                                                            text-align: left;
                                                                        }
                                                                        [data-profit-calc-active-plan=gold] .has-active-bg-color * {
                                                                            color: #000;
                                                                        }
                                                                        .c-profit-calc-kv__v {
                                                                            font-size: 24px;
                                                                            line-height: 1.1667;
                                                                            font-weight: 700;
                                                                            color: #747474;
                                                                        }
                                                                        .c-profit-calc-kv__k {
                                                                            margin-top: 5px;
                                                                            font-size: 14px;
                                                                            line-height: 1.14285;
                                                                        }
                                                                        [data-profit-calc-active-plan=gold] .has-active-bg-color {
                                                                            background-color: #dabd75!important;
                                                                        }
                                                                        .c-profit-calc__results {
                                                                            display: flex;
                                                                            flex-wrap: wrap;
                                                                            margin-left: -8px;
                                                                            margin-right: -8px;
                                                                            margin-top: -10px;
                                                                        }
                                                                        .mt-profit-calc-sec__second {
                                                                            border-radius: 5px;
                                                                            background: url('../images/bg.jpeg');
                                                                            /*background:*/
                                                                            /*    linear-gradient(217deg, rgb(7, 8, 40), rgba(255,0,0,0) 70.71%),*/
                                                                            /*    linear-gradient(127deg, rgb(186, 155, 0), rgba(0,255,0,0) 70.71%),*/
                                                                            /*    linear-gradient(336deg, rgb(6, 176, 157), rgba(0,0,255,0) 70.71%);*/
                                                                            padding: 25px 15px 35px;
                                                                            display: flex;
                                                                            align-items: center;
                                                                            justify-content: center;
                                                                        }
                                                                        @media (min-width: 1025px)
                                                                            .mt-profit-calc-sec__second-content {
                                                                                padding: 30px 45px 55px;
                                                                            }
                                                                            @media (min-width: 576px)
                                                                                .mt-profit-calc-sec__second-content {
                                                                                    padding: 30px 25px;
                                                                                }
                                                                                .mt-profit-calc-sec__second-content {
                                                                                    background: rgba(27,27,27,.9);
                                                                                    background: linear-gradient(
                                                                                        90.24deg
                                                                                        ,rgb(27 35 54) 17.62%,rgba(27,27,27,.9) 100.36%);
                                                                                    border-radius: 5px;
                                                                                    padding: 30px 10px;
                                                                                }
                                                                                .mt-apc__list {
                                                                                    font-size: 16px;
                                                                                    color: #fff;
                                                                                    line-height: 1.4;
                                                                                    margin-top: 24px;
                                                                                }
                                                                                .mt-apc__li {
                                                                                    display: flex;
                                                                                    justify-content: space-between;
                                                                                }
                                                                                .mt-apc__li-v {
                                                                                    font-weight: 700;
                                                                                    color: #fff;
                                                                                    text-align: right;
                                                                                    margin-left: 10px;
                                                                                }
                                                                                .c-profit-calc__actions {
                                                                                    margin-top: 16px;
                                                                                    display: flex;
                                                                                    flex-direction: column;
                                                                                    align-items: center;
                                                                                }
                                                                                .btn--gradient-primary2 .btn__content {
                                                                                    color: #fff;
                                                                                }
                                                                                .mnh-100 {
                                                                                    min-height: 100%!important;
                                                                                }
